* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Aqua Grotesque";
  font-style: normal;
  font-weight: normal;
  src: local("Aqua Grotesque"),
    url("./fonts/aqua-grotesque/aqua.woff") format("woff");
}

@font-face {
  font-family: "Mery Jane";
  font-style: normal;
  font-weight: normal;
  src: local("Mery Jane"), url("./fonts/meryjane/meryjane.woff") format("woff");
}

body {
  background-color: #ff3333;
  height: 100vh;
}

.container {
  width: 70%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  display: inline-block;
  min-width: 7rem;
  max-width: 7rem;
}

#logo img {
  width: 100%;
}

.controls {
  display: flex;
  min-height: 3rem;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.tempo {
  margin-right: 2rem;
  display: flex;
}

.tempo input,
#drum-select {
  width: 13rem;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
}

#drum-select,
#drum-select option {
  font-family: "Aqua Grotesque", sans-serif;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.tempo label {
  justify-self: center;
  display: inline-block;
  align-self: center;
}

.tempo label,
.drum-type-select label {
  font-family: "Mery Jane", sans-serif;
  font-size: 2.6rem;
  color: white;
}

.tempo input {
  -webkit-appearance: none;
  height: 0.6rem;
  background-color: #2b2a29;
  position: relative;
  top: 1.22rem;
}

#drum-select {
  background-color: #2b2a29;
  color: white;
  border: none;
  padding: 0.3rem;
}
