* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #ec1515;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 2.6rem;
  color: #ffeeee;
}

button {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.container {
  width: 90vw;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

header {
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo img {
  width: 12.8rem;
  height: 3.8rem;
  position: relative;
  left: 1.9rem;
  top: 0.6rem;
}

.message {
  font-size: 2.4rem;
  font-weight: 400;
}

/* .navigation {
}

.navigation {
  list-style: none;
  font-size: 1.8rem;
  font-weight: 700;
  display: flex;
}

.navigation li {
  padding-right: 3rem;
}

.navigation li:last-child:before {
  content: "|";
  margin-right: 3rem;
}

.navigation li:hover {
  color: #0c1514;
}

.navigation li:last-child:before:hover {
  color: blue;
} */

/* SELECT STYLES */

/* .drum-select select {
  background-color: #2b2a29;
  color: white;
  border: none;
  padding: 0.3rem;
} */

/* Drum Maker Styles */

main {
  padding: 2.4rem;
}

.beatmaker {
  width: 100%;
  /* display: flex;
  flex-direction: column; */
}

.track {
  display: flex;
}

.custom-select {
  list-style: none;
  min-width: 16rem;
  padding-right: 2rem;
}

.custom-select li {
  font-size: 2rem;
  font-weight: 700;
  text-align: right;
  cursor: pointer;
}

.custom-select li i {
  font-size: 1.8rem;
  padding-left: 2rem;
}

.pads {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

.pad {
  min-width: 7.3rem;
  height: 2.9rem;
  background-color: #db8080;
  margin: 0 0.5rem;
}

.pad:hover {
  border: 0.4rem solid #0c1514;
}

.pad:focus,
.pad:active {
  background-color: #ffeeee;
}

.pad-active {
  background-color: #ff0000;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3); /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.mute-control i {
  padding-left: 2rem;
  cursor: pointer;
}

.mute-control i {
  padding: 1rem;
  font-size: 2.1rem;
}

.mute-control i:hover {
  color: #0c1514;
}

.media-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}

.tempo {
  margin: 0 0.2rem;
}

.range-name {
  font-size: 2rem;
  font-weight: 700;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 0 2rem;
  width: 18rem;
  background-color: transparent;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 18rem;
  height: 1.2rem;
  cursor: pointer;
  box-shadow: 0px 0px 0px #0c1514, 0px 0px 0px #0c1514;
  background: #ffeeee;
  border-radius: 0.4rem;
  border: 0px solid #000101;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #0c1514, 0px 0px 0px #0c1514;
  border: 0px solid #0c1514;
  height: 2rem;
  width: 4rem;
  border-radius: 0.4rem;
  background: #0c1514;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ffeeee;
}

input[type="range"]::-moz-range-track {
  width: 18rem;
  height: 1.2rem;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #0c1514, 0px 0px 0px #0c1514;
  background: #ffeeee;
  border-radius: 0.4rem;
  border: 0px solid #0c1514;
}

input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #0c1514, 0px 0px 0px #0c1514;
  border: 0px solid #0c1514;
  height: 2rem;
  width: 4rem;
  border-radius: 0.4rem;
  background: #0c1514;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  width: 18rem;
  height: 1.2rem;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: #ffeeee;
  border: 0px solid #0c1514;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 0px #0c1514, 0px 0px 0px #0c1514;
}

input[type="range"]::-ms-fill-upper {
  background: #ffeeee;
  border: 0px solid #0c1514;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 0px #0c1514, 0px 0px 0px #0c1514;
}

input[type="range"]::-ms-thumb {
  box-shadow: 0px 0px 0px #0c1514, 0px 0px 0px #0c1514;
  border: 0px solid #0c1514;
  height: 2rem;
  width: 4rem;
  border-radius: 0.4rem;
  background: #0c1514;
  cursor: pointer;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #ffeeee;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #ffeeee;
}

.bpi-text {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.play-controls {
}

.play-controls i {
  cursor: pointer;
  padding: 2rem;
}

.play-controls i:hover {
  color: #0c1514;
}

.song-options {
  display: flex;
  justify-content: center;
}

.song-options button {
  border: none;
  font-size: 2rem;
  font-weight: 700;
  padding: 0 2rem;
  transition: all 0.3s ease in ease-in-out;
}

.pause-btn {
}

.play-btn {
}

.stop-btn {
  font-size: 2.3rem;
  padding: 0 2.1rem;
}

.delete-btn {
  background-color: transparent;
  color: #ffeeee;
}

.delete-btn i {
  color: #941818;
  padding: 1rem;
}

.delete-btn:hover,
.delete-btn:hover i {
  color: #0c1514;
}

.save-btn {
  background-color: #ffeeee;
  color: #941818;
  border-radius: 3rem;
  padding: 1.2rem 3.4rem;
}

.save-btn:hover {
  background-color: #0c1514;
  color: #ffeeee;
}

footer {
  min-height: 7vh;
  font-size: 1.4rem;
  font-weight: 700;
  color: #0c1514;
  align-self: flex-end;
}
